body{background-color: #f7dccb; 
     font-family: Arial, sans-serif;
}
    
h1, h2{font-family: 'Press Start 2P', cursive, Arial, sans-serif;}

h2{color:darkslateblue;}

h2,p,ul{margin-left: 50px;}

img{border:solid 3px #776C92}

img.side{float:right; margin-right:50px;}

object{margin-left: 25%; 
       width: 50%;
       height: auto;
}

footer div {font-style: italic;
            background-color: #DEB190;
}

a:link{color: #776C92;}
a:visited{color: #B64722}

/*{border: 1px solid grey;}*/