html{
    margin: 0 10%; 
    background-color: rgb(73, 0, 0); 
    font-size: 20px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(224, 224, 224); 
    margin-top: 0; 
    margin-bottom: 0;
    padding: 1rem;
}

h1{
    margin-top: 0; 
    margin-bottom: 0;
    padding-bottom: .5rem;
    border-bottom: dotted 1px rgb(77, 77, 77);
}

h2~p, #mockups{
    border-bottom: dotted 1px rgb(77, 77, 77);
    padding-bottom: 1rem;
    margin: 0 1rem; 
    text-indent: 1rem;
}

h3{color: rgb(77, 77, 77);}

#mockups{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.mockup{padding: 1rem;}

label{
    display: block;
    padding-bottom: 1rem;
}

img{width: 500px;}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem 0
}

a{
    text-decoration: none;
    border: solid 1px rgb(77, 77, 77);
    background-color: #8f8f8f;
    border-radius: 10px;
    padding: .5rem;
    text-align: center;
    color: white;
}

a:link{color: white}
a:visited{color: white;}
a:focus{text-decoration: underline;}
a:hover{text-decoration: underline;}
a:active{text-decoration: underline; background-color: #adadad;}